@use "../abstracts" as *;

.time-show {
  font-size: 240px;
  font-family: 'PT Mono', monospace;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -16px;
}
.h2 {
  @include font-face($font-txt, 24px, $color-whitesmoke, 400, 140%);
}
.h3 {
  @include font-face($font-txt, 1rem, $color-whitesmoke, 300, 140%);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}