@use "abstracts" as *;
@use "base" as *;
@use "components" as *;
@use "layout" as *;


main {
    @include flex-box(row, space-between, stretch);
    gap: 24px;
    padding: 32px;
    font-family: 'Inter', sans-serif; 
    color: $color-whitesmoke;
    min-height: 100vh;
    max-height: 100vh; 
    position: relative; 
    background-color: $color-black;
    overflow: hidden;
}
.body-overlay {
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    background-color: rgba(0,0,0,0.5); 
    z-index: 0;
}
.nav-links {
    @include flex-box(column, flex-start, center);
    gap: 1rem;
    margin-top: 4rem;
}