$color-black: #141414;
$color-whitesmoke: #f5f5f5;
$color-white: #ffffff;
$color-blue: #1A2FED;
$color-green: #34C18F;
$color-grey: #DDDDDD;

$font-primary: 'PT Mono', monospace;
$font-txt: 'Inter', sans-serif;
