@use "../abstracts" as *;
@use "../base" as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=PT+Mono&display=swap');


.btn {
    @include flex-box(row, center, center);
    padding: 16px 32px;
    border-radius: 32px;
    border: none;
    @include bg-gradient();
    box-shadow: 6px 6px 20px 0px rgba(20, 20, 20, 0.2);
    color: #f5f5f5;
    cursor: pointer;

    &-sidebar {
        font-size: 12px;
        background: transparent;
        padding: .5rem 1.5rem;
        box-shadow: -10px 10px 20px 0px rgba(20, 20, 20, 0.3);
        border: 1px solid $color-whitesmoke;
    }
}
.btn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.btn-nav {
    padding: 1rem;
}
.nav-img {
    min-width: 28px;
}
.nav-logo .nav-img, .nav-foot .nav-img {
    width: 48px;
}
.nav-foot {
    margin-top: auto;
    margin-bottom: 0;
}